<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
        .account{
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 10px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            padding: 20px 40px;
        }

        .account h2{
            margin-top: 10px;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="account">
        <h2>會員登入</h2>
        <form method="post" novalidate>
            {%  csrf_token %}
            <div class="form-group mb-3">
                <label class="form-label fw-bold">電子郵件</label>
                {{ form.username }}
                <span style="color: red">{{ form.username.errors.0 }}</span>
            </div>
            <div class="form-group mb-3">
                <label class="form-label fw-bold">密碼</label>
                {{ form.password }}
                <span style="color: red">{{ form.password.errors.0 }}</span>
            </div>
            <div class="form-group mb-3">
                <label class="form-label fw-bold" for="captcha_id">圖片驗證碼</label>
                <div class="d-flex flex-row">
                    <div class="me-2">
                        <input type="text" name="code" class="form-control" id="captcha_id" placeholder="請輸入圖形驗證碼" required="">
                        <span style="color: red"></span>
                    </div>
                    <div>
                        <img src="{% url 'OSG:captcha' %}" alt="驗證碼" id="captcha_image" style="width: 125px;">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary " type="submit">登 入</button>
        </form>
    </div>
</body>
</html>